@import url("https://fonts.googleapis.com/css2?family=Coiny&family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*EMPIEZO AJUSTANDO TIPOGRAFIA*/

p,
ol {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#item7 {
  font-size: 2.5 em;
  list-style-position: inside;
  background-color: #fcee21;
  overflow: hidden;
}

h2 {
  text-transform: capitalize;
}

h4 {
  display: inline;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fcee21;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: inline;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #fcee21;
}

h1,
h2,
h6 {
  font-family: "Coiny", system-ui;
  font-weight: 400;
  font-style: normal;
}

footer {
  background-color: #fcee21;
}
footer h6 {
  font-size: 20px;
  display: inline;
  margin-right: 5%;
}

footer a {
  text-decoration: none;
}

/*AJUSTE TAMAÑO DE LOS ELEMENTOS*/

body {
  padding: 5px;
}

.lista,
.somos,
.wapas,
.gestion,
.logos1,
footer,
header {
  overflow: hidden;
}


img {
  width: 100%;
  /*centro la imagencreadoras*/
}

.imgredes {
  width: 60px;
}

h3 {
  font-size: 1.3em;
}

/*AJUSTE PROPIEDADES HEADER*/

nav ul li {
  list-style-type: none;
}

li a {
  text-decoration: none;
  padding-left: 10px;
}

footer,
header {
  border: 2px solid coral;
}

/*AJUSTE PROPIEDADES MAIN*/

.wapas,
.foto,
.somos,
.gestion {
  padding: 20px;
}

/*AJUSTE PROPIEDADES SERVICIOS*/

ol li {
  font-size: 1.2em;
  list-style-position: inside;
}
.img2 {
  margin: auto 1px;
  height: 557px;
  background-image: url("./../img/img-servicios.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.lista > ol,
li {
  padding-top: 10px;
}

/*AJUSTE PROPIEDADES CONTACTO*/

/*CLASS PCONTACTO*/
#parag {
  color: black;
  background-color: #fcee21;
}
.pcontacto > p {
  color: white;
  background-color: black;
}

/*AJUSTE FORMULARIO*/

.formulario {
  background-color: bisque;
  border: 1px solid;
}

label {
  display: block;
  width: 80%;
  margin-left: 10px;
  border: 1px solid lightblue;
}

.namemail,
textarea {
  display: block;
  width: 100%;
  margin: auto;
  border: 1px solid;
}

.botones {
  width: 118px;
  border: 1px solid turquoise;
}

/*UTILIZO FLEX EN HEADER*/
/* body{
  display: flex;
  flex-direction: column;
  
} */

/* header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
} */

ul {
  display: flex;
}

/*FLEX EN REDES*/

.redess {
  display: flex;
}

ol > li {
  font-size: 1.5rem;
  font-weight: 400;
}
#item7 {
  font-size: 2.5em;
}
p,
h4 {
  font-size: 1.3rem;
  margin-top: 20px;
}

h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: clamp(3rem,1rem + 10vw,7rem);
}

ul > li {
  padding: 3px;
  font-size: 1.4em;
  font-weight: 700;
}
 
 